/* Global styles */
body {
    position: relative;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Welcome page styles */
h2, h3 {
    color: #ffffff;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    position: relative;
    z-index: 1;
}

input[type="text"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

input[type="submit"] {
    background-color: #007bff;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Channel page styles */
#messages {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
}

.userMessages {
    margin-bottom: 20px;
}

textarea {
    width: calc(100% - 40px);
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 16px;
    resize: none;
    position: relative;
    z-index: 1;
}

textarea:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
